.env
*.env
secrets/

**/data/
**/db_data/
**/postgres_data/
**/mysql_data/
**/redis_data/
**/*_data/
**/db/

npm/letsencrypt/
npm/data/
nextcloud/data/
immich/immich-data/
vaultwarden/vw-data/
pihole/etc-pihole/
pihole/etc-dnsmasq.d/
adguard/work/
adguard/conf/

.DS_Store
Thumbs.db

immich/library/
immich/postgres/

kanso-project/frontend/
kanso-project/backend/

nextcloud/db_data/
nextcloud/nextcloud_data/

portainer/portainer_data/

portfolio/src/
portfolio/public/
portfolio/node_modules/
portfolio/scripts/
portfolio/package-lock.json
portfolio/package.json
portfolio/eslint.config.js
portfolio/vite.config.js
portfolio/index.html
portfolio/.git_backup/
portfolio/.github/
portfolio/.gitignore
portfolio/LICENSE
portfolio/README.md

vaultwarden/vw-data/

vikunja/db/
vikunja/files/
