.env
*.env
secrets/

**/data/
**/db_data/
**/postgres_data/
**/mysql_data/
**/redis_data/
**/*_data/
**/db/

npm/letsencrypt/
npm/data/
nextcloud/data/
immich/immich-data/
vaultwarden/vw-data/
pihole/etc-pihole/
pihole/etc-dnsmasq.d/
adguard/work/
adguard/conf/

.DS_Store
Thumbs.db

immich/library/
immich/postgres/

kanso-project/frontend/
kanso-project/backend/

nextcloud/db_data/
nextcloud/nextcloud_data/
